body{
    background-color: rgb(24, 13, 21);
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.badge-colour-1{
    fill: #000000; 
}

.badge-colour-2{
    fill: #FFFFFF; 
}

.badge-colour-3{
    fill: #888888; 
}

.badge-svg{
    width: 100%;
    height:100%;
}
.badge{
    display:flex;
    align-items: center;
    justify-content: center;
}
#badges-container{
    
    background-color: rgb(196, 28, 140);
}

#inner-badge-image{
    position: absolute;
    margin-top: 15px;
    width:200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    overflow: none;
}


