body{
    background-image: url('./main_page_media/ski_hill_summer.JPG');
    background-attachment: fixed;
}
hr{
    max-width: 90%;
}

.page-container{
    background-color: aliceblue;
    max-width: 80%;
    margin: auto;
}

.project-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

    max-width: 3em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.project-container{
    display: flex;
    justify-content: space-between;
    padding: 1em;;
}

.project-desc{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project-image{
    width: 160px;
    border-radius: 1em;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.title{
    margin: auto;
    font-size: larger;
    padding: 1em;
}

.description{
    margin:auto;
}