body{
    background-image: url('./virtual_world_media/vw_background.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

    .video-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5em;
        margin: 1.5em;
        background-color: lightblue;
        border-radius: 2em;
    }

    .media-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
        margin: 1.5em;
        background-color: lightblue;
        border-radius: 2em;
    }

    .gaia-about{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5em;
        margin: 1.5em;
        background-color: lightblue;
        border-radius: 2em;

        font-size: 15px;
        font-family:  "Courier New", sans-serif;
    }

    #gaia-title{
        font-family: "Lucida Console", "Courier New", sans-serif;
        font-size: 35px;
    }

    .upper-media-row{
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 3em;
        padding-right: 3em;
        background-color: rgb(124, 161, 173);
        border-radius: 2em;
 
    }

    .lower-media-row{
        display: flex;
        flex-direction: row;

    }

    .media-description-button{
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        background-color: rgb(124, 161, 173);
        color: white;
        border: none;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        border-radius: 2em;

        font-size: 40px;
        font-family: "Lucida Console", "Courier New", monospace;

        box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2)
    }
    .description{
        font-size: 15px;
        font-family:  "Courier New", sans-serif;
        max-width: 35em;

        padding:1em;
        background-color: rgb(212, 237, 246);
        border-radius: 2em;
    }

    #video-description{
        padding: 1em;
        margin-left: 1em;
        font-size: 18px;
        max-width: 26em;
        background-color: rgb(212, 237, 246);
        border-radius: 2em;
    }