body {
    background-image: url('./main_page_media/ski_hill_summer.JPG');
    background-size: 100% 100%;
    background-attachment: fixed;
}

hr {
    max-width: 90%;
}

.page-container {
    background-color: rgb(244, 244, 244);
    max-width: 80%;
    margin: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    z-index: -2;
}

.project-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);

    max-width: 3em;
    margin-top: 10%;
    margin-left: 0.5em;


}

.project-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    z-index: 2;
    border-radius: 0em 4em 4em 0em;

    position: relative;
    /* Added for mouse trail positioning */
    /* overflow: hidden; Removed to allow hang over */
}

.project-right-container {
    display: flex;
    flex-direction: row;

    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
    background-color: rgb(183, 190, 196);
    border-radius: 3em;

    text-decoration: none;

    z-index: 2;

    margin-left: -2em;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-right-container:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4), 0 10px 15px rgba(0, 0, 0, 0.3);

    outline: 4px solid;
    outline-color: aliceblue;

    transform: translateY(-5px);
}

.project-right-container:active {
    transform: translateY(-2px);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4), 0 5px 8px rgba(0, 0, 0, 0.3);
}

.project-desc {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    max-width: 50%;
    margin-top: 4%;
    margin-right: 0.5em;

    position: relative;
    z-index: 2;
    /* Ensure text is above pattern */
}

.project-image {
    width: 160px;
    border: 4px solid;
    border-color: rgb(123, 0, 0);
    border-radius: 2em;
    background-color: rgb(120, 223, 213);

    margin-left: 1em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.title {
    margin: auto;
    padding: 0.5em;
    padding-bottom: 0px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 0.5em;
}

.description {

    margin: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #34495e;
}

.spacer {
    margin: 1em;
}

.left-line {
    background-color: rgb(123, 0, 0);
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 11.5%;
    top: 0%;
    width: 11em;
    height: 100%;

    border: 8px;
    border-style: none solid solid solid;
    border-color: rgb(168, 6, 6);
}

#apples-project {
    background-color: rgb(134, 189, 119);
    background-image: linear-gradient(to bottom right, rgb(113, 169, 98), rgb(175, 218, 130));
}

#virtual-world-project {
    background-color: rgb(133, 167, 210);
    background-image: linear-gradient(to bottom right, rgb(106, 129, 183), lightblue);
}

#minecraft-mod-project {
    background-color: bisque;
    background-image: linear-gradient(to bottom right, rgb(211, 150, 93), bisque);
}

#hello-stars {
    background-color: rgb(213, 42, 116);
    background-image: linear-gradient(to bottom right, rgb(51, 13, 122), rgb(213, 42, 116));
}

#climate-project {
    background-color: rgb(231, 241, 255);
    background-image: linear-gradient(to bottom right, rgb(145, 106, 183), rgb(231, 241, 255));
}

#title-box {
    position: relative;
    z-index: 10;
    background-color: rgb(191, 201, 210);

    margin-left: 15%;
    margin-right: 15%;
    padding: 2em;

    border-radius: 2em;
    border: 4px solid rgb(123, 0, 0);
    border-right: 16px solid rgb(123, 0, 0);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* Hidden Pattern Reveal Effect */
.pattern-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Pattern: faint white dots */
    background-image: radial-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 15px 15px;

    pointer-events: none;
    z-index: 1;
    /* pattern behind content (z-index 2) */

    /* Mask to reveal pattern around cursor */
    mask-image: radial-gradient(circle 120px at var(--mouse-x, 50%) var(--mouse-y, 50%), black 0%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle 120px at var(--mouse-x, 50%) var(--mouse-y, 50%), black 0%, transparent 100%);

    opacity: 0.6;
}